.header {
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  padding: 20px;
}
